body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  font-family: Arial, sans-serif;
  overflow: hidden;
  position: relative;
}
/* Tela de Início e Game Over */
.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#startScreen, #gameOverScreen {
  text-align: center;
}
button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f90;
  color: #fff;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: #444;
  border: 2px solid #fff;
}

#controlsPanel {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(94, 94, 94, 0.6);
  padding: 15px;
  border-radius: 8px;
  z-index: 2;
  color: white;
  text-align: center;
}
#controlsPanel h2 {
  margin-top: 0;
  font-size: 18px;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}
#controlsPanel p {
  margin: 10px 0;
  font-size: 16px;
}